
<h1 class="text-center"><%= @result[:message] %></h1>
<h3 class="text-center">Your score: <%= @result[:score] %> </h3>
<h3 class="text-center">Your time: <%= @result[:time] %></h3>
<h3 class="text-center">In french, your word means: <%=@result[:translation]%></h3>
